@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  text-align: right;
}

input[type="date"],
input[type="number"],
input[type="color"] {
  text-align: right;
}
